body{background:#F9F9F9}
a {font-size:14px; color:#333}
p {margin:4px 6px;}
img {border:0px;}
html {font-size:14px;font-family: "Lucida Sans Unicode","Lucida Grande",Arial,Verdana,sans-serif;color:#343434}
#openid_form{margin-top:0px!important;position:relative;bottom:10px;}
